<div class="panel panel-primary">
  <div class="text-center">
    <i class="fas fa-user-circle fa-9x" aria-hidden="true"></i>
  </div>
  <div class="panel-heading">
    <h4 align="center">
      {{ 'usermanagement.profile.title' | translate }}</h4>
  </div>
</div>
<div class="container">
  <form [formGroup]="userForm" (ngSubmit)="saveUser(userForm.value)">
    <div>
      <mat-form-field class="w-75">
        <input matInput placeholder="{{ 'usermanagement.profile.user_id' | translate }}" class="form-control"
          formControlName="user_id" #user_id>
        <mat-error *ngIf="!userForm.get('user_id').valid && userForm.get('user_id').touched">
          {{ 'usermanagement.profile.id.validation' | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="w-75">
        <input matInput placeholder="{{ 'usermanagement.profile.name' | translate }}" class="form-control"
          formControlName="name" #name>
        <mat-error *ngIf="!userForm.get('name').valid && userForm.get('name').touched">
          {{ 'usermanagement.profile.name.validation' | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="w-75">
        <input matInput placeholder="{{ 'usermanagement.profile.email' | translate }}" class="form-control"
          formControlName="email" #email>
        <mat-error *ngIf="!userForm.get('email').valid && userForm.get('email').touched">
          {{ 'usermanagement.profile.email.validation' | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="w-75">
        <input matInput placeholder="{{ 'usermanagement.profile.address' | translate }}" class="form-control"
          formControlName="address" #address>
        <mat-error *ngIf="!userForm.get('address').valid && userForm.get('address').touched">
          {{ 'usermanagement.profile.address.validation' | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="w-75">
        <input matInput placeholder="{{ 'usermanagement.profile.country' | translate }}" class="form-control"
          formControlName="country" #country>
        <mat-error *ngIf="!userForm.get('country').valid && userForm.get('country').touched">
          {{ 'usermanagement.profile.country.validation' | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button class="btn btn-primary"
        [disabled]="userForm.pristine || userForm.invalid">{{ 'usermanagement.profile.save' | translate }}</button>
      <button mat-raised-button class="btn btn-primary ml-3">{{ 'usermanagement.profile.close' | translate }}</button>
    </div>
  </form>
</div>
